.rocket {
  position: absolute;
  width: 110px;
  left: 47%;
  top: 40%;
  z-index: 1;
}
.start {
  position: absolute;
  top: 70%;
  left: 46%;
  text-align: center;
}
.button {
  width: 150px;

}