.start {
  position: absolute;
  left: 50%;
  top: 70%;
  text-align: center;
}
.button {
  background-color: gray;
  height: 100px;
  width: 100px;
}
.rocket {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 40%;
}